<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Laika</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="css/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/freelancer.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary  text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Laika</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button"
          data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
          aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger " href="profile">Profile</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger " href="market">Market</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="charity">Charities</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="contactus">Contact us</a>

            </li>
          </ul>
        </div>
      </div>
    </nav>




  <!-- Portfolio Grid Section -->
  <section class="portfolio" id="portfolio">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Charities</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="images/cabin.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="images/cake.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="images/circus.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="images/game.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="images/safe.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="images/submarine.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>



  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Laika 2019</small>
    </div>
  </div>

  <!-- Portfolio Modals -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">ASPCA®</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="images/cabin.png" alt="">
            <!-- <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Donate</a> -->

              <button class="btn btn-primary btn-lg btn-adopt" type="button" data-id="0">Donate</button>
            <p class="mb-5">The American Society for the Prevention of Cruelty to Animals® (ASPCA®) was the first humane society to be established in North America and is, today, one of the largest in the world.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#" onclick = "donate()" >
              <i class="fa fa-close"></i>  Donate</a>


          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Henry Street Settlement</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="images/cake.png" alt="">
            <p class="mb-5">Founded in 1893 by social work and public health pioneer Lillian Wald and based on Manhattan's Lower East Side, Henry Street Settlement delivers a wide range of social service, arts and health care programs to more than 50,000 New Yorkers each year.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#" onclick = "donate()">
              <i class="fa fa-close"></i>
              Donate</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Student Sponsor Partners</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="images/circus.png" alt="">
            <p class="mb-5">For more 30 years, Student Sponsor Partners’ uniquely integrated program has provided over 7,000 low-income New York City students with a quality private high school education. All our students are paired with sponsors, who provide financial support, and mentors, who offer support and guidance, thus making a meaningful impact on their lives.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#" onclick = "donate()">
              <i class="fa fa-close"></i>
              Donate</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">The Breast Cancer Research Foundation</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="images/game.png" alt="">
            <p class="mb-5">The Breast Cancer Research Foundation is a nonprofit organization committed to achieving prevention and a cure for breast cancer. We provide critical funding for cancer research worldwide to fuel advances in tumor biology, genetics, prevention, treatment, metastasis and survivorship.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#" onclick = "donate()">
              <i class="fa fa-close"></i>
              Donate</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-5">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Citymeals on Wheels</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="images/safe.png" alt="">
            <p class="mb-5">Citymeals on Wheels provides a continuous lifeline of nourishing meals and vital companionship to our homebound elderly neighbors.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#" onclick = "donate()">
              <i class="fa fa-close"></i>
              Donate</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-6">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#" >
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">New York Foundation for the Arts</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="images/submarine.png" alt="">
            <p class="mb-5">New York Foundation for the Arts (NYFA) is a nonprofit service organization that empowers working artists and emerging arts organizations across all disciplines at critical stages in their creative lives and professional/organizational development.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#" onclick = "donate()">
              <i class="fa fa-close"></i>
              Donate</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="js/app.js"></script>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery/jquery.easing.min.js"></script>
  <script src="vendor/jquery/magnific-popup.js"></script>
  <script src="js/freelancer.min.js"></script>
  <script>

    //pop up window asking the user for hash id
    function donate() {
        var enter = prompt("Please enter your hash", "");
        //var pattern = [a-zA-z0-9];
        //var pattern = [0-9];
        var amount;

        if (enter != null) {
           enter = prompt("Please enter the amount you want to donate", "");
        }
      }

  </script>
</body>

</html>
