<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Laika</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">

  <!-- Plugin CSS -->

  <!-- Custom styles for this template -->
  <link href="css/freelancer.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary  text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="index.html">Laika</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button"
          data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
          aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger " href="profile.html">Profile</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger " onclick="mark()">Market</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="charity.html">Charities</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="contactus.html">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



  <!-- About Section -->
  <section class="bg-primary text-white mb-0" id="about">
    <div class="container">
      <h2 class="text-center text-uppercase text-white mb-4">Contact us!</h2>
      <div class="row">
        <div class="col-lg-8 ml-auto">
          <p class="lead" style="">
            test@hotmail.com <br>
            832-123-2349 <br>
            123 Tree Lane <br> New York, NY 10013
          </p>
        </div>

    </div>
    <section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white mb-4">Ready to donate?</h2>
        <div class="row">
          <div class="col-lg-8 ml-auto">
            <h2 class="lead">
             <a href="donor.html"> Click here to get your donor id </a>
            </h2>
          </div>

      </div>
    <section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white mb-4">Are you a charity?</h2>
        <div class="row">
          <div class="col-lg-8 ml-auto">
            <h2 class="lead">
             <a href="apply.html"> Click here to apply to become a charity </a>
            </h2>
          </div>

      </div>
    </section>






    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery/jquery.easing.min.js"></script>
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="vendor/jquery/magnific-popup.js"></script>
    <script src="js/freelancer.min.js"></script>

    <script>
      function OpenInNewTabWinBrowser(url) {
        var win = window.open(url, '_blank');
        win.focus();
      }
    </script>
    <script>
      function mark() {
        var prom = prompt("Please enter your key", "");
        if (prom == null) {

        }
        else if (prom == "smalldogs") {
          var win = window.open("market.html");
          win.focus();
        } else {
          prom = prompt("That is not the right key, please try again", "");
        }
      }

    </script>
</body>

</html>
