<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Laika</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">

  <!-- Plugin CSS -->

  <!-- Custom styles for this template -->
  <link href="css/freelancer.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary  text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Laika</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button"
        data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger " href="profile">Profile</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger " href="market">Market</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="charity">Charities</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="contactus">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center" style="padding-top:0px; padding-bottom:0px">
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="images/profile.png" alt="">
      <h2 class="font-weight-light mb-0"> ... </h2>
    </div>
  </header>

  <!-- About Section -->
  <section class="bg-primary text-white mb-0" id="about">
    <div class="container">
      <h2 class="text-center text-uppercase text-white">About</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">
            Lack of transparency in charitable donations has deterred many from making a donation and
            organization from being held accountable for their actions. We want to help increase transparency to
            encourage more donation and bring charities closer to achieving their missions.
          </p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">
            Laika Crowd Funding, strives to become a powerful platform where approved 503c organizations
            can sign up to receive funds using crypto and a blockchain – anyone with a computer can help raise funds
            with full transparency. Currently, there are some websites which users can mine “Monero” for a good cause.
            However, the lack of transparency of “Monero” leaves donors wondering where their contributions actually go.
          </p>
        </div>
      </div>
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="tutorial">
          <i class="fas fa-arrow mr-2"></i>
          Get Started
        </a>
      </div>
  </section>


  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Laika 2019</small>
    </div>
  </div>



  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery/jquery.easing.min.js"></script>
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="vendor/jquery/magnific-popup.js"></script>
  <script src="js/freelancer.min.js"></script>
  <script>
    function mark() {
      var prom = prompt("Please enter your key", "");
      if (prom == null) {

      }
      else if (prom == "smalldogs") {
        var win = window.open("market");
        win.focus();
      } else {
        prom = prompt("That is not the right key, please try again", "");
      }
    }

  </script>
</body>

</html>
